/* Body background */
body {
  background: pink;
}

/* h1 font size */
h1 {
  font-size: 3em;
}

/* h2 font weight */
h2 {
  font-weight: normal;
}

/* Completed class font size */
.completed {
  font-size: 12px;
}

/* Completed tasks background */
#tasks .completed {
  background: #ccc;
}